<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bess</title>
    <link href="{% static 'css/photography.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav class="main-nav">
      <div class="full-wrapper">
        <div class="nav-logo-wrap">
          <div class="mobile-nav"></div>
          <div class="desktop-nav">
            <div class="primary-nav">
              <div class="menu-item">
                <a href="/">home</a>
              </div>
              <div class="menu-item">
                <a href="#">ABOUT</a>
              </div>
              <div class="menu-item">
                <a href="/articles/">BLOG</a>
              </div>
              <div class="menu-item">
                <a href="/album/">ALBUM</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <h1>Hi, It's Bess</h1>
  </body>
</html>