<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="msgboard-container">
    <div class="board-header">
      <div class="board-title">
        <h1 id="title">到底要吃什麼</h1>   
      </div>
    </div>
    <div class="msgboard-content">
      <div class="msg-block otheruser-msgblock">
        <div class="msgcontent-container">
          <div class="user-name-block">
            <div class="user-name">QQ</div>
          </div>
          <div class="user-content-block">
            <div class="user-content">欸欸 午餐</div>
            <div class="content-time">Today 11:27</div>
          </div>
        </div>
      </div>
      <div class="msg-block otheruser-msgblock">
        <div class="msgcontent-container">
          <div class="user-name-block">
            <div class="user-name">RY</div>
          </div>
          <div class="user-content-block">
            <div class="user-content">不要辣! 其他我都可以</div>
            <div class="content-time">Today 11:28</div>
          </div>
        </div>
      </div>
      <div class="msg-block mine-msgblock">
        <div class="msgcontent-container">
          <div class="user-name-block">
            <div class="user-name">AB</div>
          </div>
          <div class="user-content-block">
            <div class="user-content">我要吃蘭州拉麵！</div>
            <div class="content-time">Today 11:32</div>
          </div>
        </div>
      </div>
    </div>
    <div class="msgboard-sendbox">
      <form id="send-form">
        <input type="text" name="msg" id="msg-typing" placeholder="Type a message...">  
        <input type="submit" id="submit" value=">"> 
      </form>
    </div>
  </div>
</body>