html, body {
  padding: 0;
  margin: 0;
  background: #F7EFED;
}

*{
  /*border: 1px solid #000;*/
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}
.container{
  width: 100%;
  padding: 20px;
}
.col img{
  width: 300px;
}
